In [1]:
import numpy as np

In [4]:
# to define an array

m = np.array([1,2,3,4])
m.mean()

np.float64(2.5)

In [12]:
jt = np.array(['data analyst', 'data scientist', 'data engineer', 'machine learning engineer'])
s = np.array([60000,70000,80000,np.nan])
b = np.array([.05,.1,.08,.12])

In [13]:
to_sal = s * (1 + b)
to_sal

array([63000., 77000., 86400.,    nan])

In [ ]:
np.nanmean(to_sal)

np.float64(75466.66666666667)

In [11]:
# for example if a list has no value, we cannot simply putzero or anything becausee that will ffect the mean
# if we put none it cannot b used for operations
# so we use nan
# as the type of nan is a float, we can easily do operations on it without effecting anything
type(np.nan)

float